<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.project.mapper.DiaochaMapper" >
  <resultMap id="BaseResultMap" type="cn.com.project.domain.Diaocha" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kid" property="kid" jdbcType="INTEGER" />
    <result column="mycd" property="mycd" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="lname" property="lname" jdbcType="VARCHAR" />
    <result column="dcrq" property="dcrq" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="idk" property="idk" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    d.id,  d.kid,  d.mycd,  d.content,  d.aid, d.dcrq,a.account, lname,d.photo,address,idk
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from diaocha d 
    left join admin a
    on d.aid = a.id
    where d.id = #{id,jdbcType=INTEGER}
  </select>
   <select id="select" resultMap="BaseResultMap" parameterType="cn.com.project.domain.Diaocha" >
    select 
    <include refid="Base_Column_List" />
    from diaocha d 
    left join admin a
    on d.aid = a.id
    <where>
           <if test="mycd !=null and mycd !=''">
            and d.mycd=#{mycd}
           </if>
           <if test="aid !=null and aid !=''">
            and d.aid=#{aid}
           </if>
           <if test="account !=null and account !=''">
            and a.account=#{account}
           </if>
      </where>
      order by kid desc
  </select>
   <select id="selectTj" resultMap="BaseResultMap"  >
   SELECT count(*) as number,mycd from diaocha GROUP BY mycd
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from diaocha
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.project.domain.Diaocha" >
    insert into diaocha (id, kid, mycd, 
      content, aid)
    values (#{id,jdbcType=INTEGER}, #{kid,jdbcType=VARCHAR}, #{mycd,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{aid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.project.domain.Diaocha" >
    insert into diaocha
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kid != null" >
        kid,
      </if>
      <if test="mycd != null" >
        mycd,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="dcrq != null" >
        dcrq,
      </if>
       <if test="lname != null" >
        lname,
      </if>
       <if test="photo != null" >
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="mycd != null" >
        #{mycd,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="dcrq != null" >
        #{dcrq,jdbcType=INTEGER},
      </if>
      <if test="lname != null" >
        #{lname,jdbcType=INTEGER},
      </if>
       <if test="photo != null" >
        #{photo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.project.domain.Diaocha" >
    update diaocha
    <set >
      <if test="kid != null" >
        kid = #{kid,jdbcType=INTEGER},
      </if>
      <if test="mycd != null" >
        mycd = #{mycd,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="dcrq != null" >
        dcrq = #{dcrq,jdbcType=INTEGER},
      </if>
       <if test="photo != null" >
        photo = #{photo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.project.domain.Diaocha" >
    update diaocha
    set kid = #{kid,jdbcType=VARCHAR},
      mycd = #{mycd,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      aid = #{aid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>